.ga{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    transition:0.4s;
    margin:3px;
}
.ga:hover{
    opacity:0.8;
}
.ga-flat{
    background:#000;
    width:20px;
    height:70px;
    color:white; 
}

.ga-colorful{
    
    color:white;
    border-radius:10px;
}
.ga-rounded-colorful{
   
    color:white;
    border-radius:50%;
}

.ga-rounded{
background:#000;
color:white;
border-radius:50%;
}

.ga-flat-colorful{
  
    color:white;
}


.facebook{
    background:#3B5998;
}
.youtube{
    background: #bb0000;
}